body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root, .App {
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100%;
  height: 8%;
  background-color: black;
  justify-content: center;
  align-items: center;
}

.main-content {
  height: 92%;
}

.header-links {
  color: silver;
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  height: 100%;
  padding: 0px 40px;
  justify-content: center;
  align-items: center;
}

.header-links:hover {
  background-color: rebeccapurple;
}

.icon {
  background-color: white;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 28px;
  color: black;
}

.content-center {
  justify-content: center;
  align-items: center;
}

.center-margin {
  margin: auto;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.text-center {
  text-align: center;
}

*:not(head) {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

@import url('./App.css');

